.center {
	text-align: center;
	text-weight: bold;
}

img.float {
	width: 180px;
	float: right;
	margin-left: 20px;
	margin-right: 20px;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

#width {
	width: 65%;
	margin-left: 140px;
}

body {
	background-color: #4bb2f2;
}

.white {
	color: white;
}

img.logo {
	width: 200px;
	float: none;
}

img.rotate {
	transform: rotate(90deg);
}

.margin {
	margin-left: 5px;
}

.important {
	color: red;
	font-style: italic;
}

img.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 125px 125px;
}

.down {
	margin-top: 30px;
}

.all-pic{
	margin-top: 90px;
}

.panel-body li{
	text-decoration: underline;
}